$yellow: #fcba03;
$white: #fff;
$rojo: #ff9d96;
$verde: #d5ffd4;

@mixin margenes ($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

.headH1{
    color: $yellow;
    }
    
    .headh3{
        color: $rojo;
        
    }
    
    .herramientas{
        flex: 1 150px;
        padding: 2px 5px 2px 5px ;
        justify-content: space-between;
    }
    
    .contenedor{
        position: absolute;
        
      }
    .footer_{
        background-color: rgb(0, 153, 241);
       
        text-align: center;
        background-repeat: no-repeat;
        width: 100%;
        min-height: 100px;
        @include margenes(10px, 0)
       
      }
      .jumbotron{
        margin-top: 50px;
      }
    