.headH1 {
  color: #fcba03; }

.headh3 {
  color: #ff9d96; }

.herramientas {
  flex: 1 150px;
  padding: 2px 5px 2px 5px;
  justify-content: space-between; }

.contenedor {
  position: absolute; }

.footer_ {
  background-color: #0099f1;
  text-align: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100px;
  margin-top: 10px;
  margin-bottom: 0; }

.jumbotron {
  margin-top: 50px; }
