.headH1{
color: blue;
}

.headh3{
    color: blueviolet;
    
}

.herramientas{
    flex: 1 150px;
    padding: 2px 5px 2px 5px ;
    justify-content: space-between;
}

.contenedor{
    position: absolute;
    
  }
.footer_{
    background-color: rgb(0, 153, 241);
   
    text-align: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100px;
   
  }
  .jumbotron{
    margin-top: 50px;
  }
